<div class="mx-auto w-full max-w-xs">
  <div class="flex justify-center mb-10">
    <%= image_tag("favicon.png", width: "100", class: "inline-block") %>
  </div
  >
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
    <div class="mb-4">
      <h2 class="text-2xl">Log in</h2>
    </div>
    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2"%>
      <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
        <%= f.label :remember_me, class: "text-sm" %>
      </div>
    <% end %>
    <div class="mb-4 flex items-center justify-between">
      <%= f.submit "Log in", class: "bg-oddball hover:bg-oddball-lighter text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      <%= link_to "Forgot Password?", new_password_path('user'), class: "inline-block align-baseline font-bold text-sm text-oddball hover:text-oddball-lighter" %>
    </div>
    <div class="mb-4 flex items-center justify-between">
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "w-full bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline text-center" %>
    </div>
    <div class="mt-10 flex items-center justify-center">
      <%= link_to('Sign Up', new_user_registration_path, class: "inline-block align-baseline text-sm text-gray-500 hover:text-gray-800") %>
    </div>
  <% end %>
  <p class="mt-10 text-center text-gray-500 text-xs">
    &copy;2020 Oddball, Inc. All rights reserved.
  </p>
</div>
