<%= form_for(@challenge, html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" } ) do |f| %>
    <div class="mb-4">
      <h2 class="text-2xl">
        <%= @challenge.persisted? ? "Update \"#{@challenge.name}\"" : 'Create a Challenge'%>
      </h2>
    </div>

    <div class="mb-4">
      <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= f.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="relative w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <%= f.label :start_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :start_date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "%B %d, %Y",
          flatpickr_min_date: Time.zone.now
        } %>
        <div class="absolute px-3 py-2" style="top: 27px; right: 10px;">
            <svg class="h-6 w-6 text-gray-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
        </div>
      </div>
      <div class="relative w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <%= f.label :end_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :end_date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
        data: {
          controller: "flatpickr",
          flatpickr_date_format: "%B %d, %Y",
          flatpickr_min_date: Time.zone.now
        } %>
        <div class="absolute px-3 py-2" style="top: 27px; right: 10px;">
            <svg class="h-6 w-6 text-gray-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <%= f.label :unit, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.text_field :unit, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
    </div>

    <div class="mb-4 flex items-center justify-center">
      <%= f.submit class: "bg-oddball hover:bg-oddball-lighter text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      <%= link_to "Cancel", root_path, class: "inline-block align-baseline text-sm text-gray-500 hover:text-gray-800 ml-10" %>
    </div>
  <% end %>
