<tr id="today-entry-<%= todays_entries.id %>" class="hover:bg-grey-lighter">
  <td class="amount py-4 px-6 border-b border-grey-light">
    <img class="w-10 h-10 rounded-full mr-4" src="<%= todays_entries.user.picture %>" alt="<%= todays_entries.user.email %>">
  </td>
  <td class="amount py-4 px-6 border-b border-grey-light"><%= todays_entries.amount %></td>
  <td class="completed_date py-4 px-6 border-b border-grey-light"><%= todays_entries.completed_date.strftime("%B %d, %Y") %></td>
</tr>
