<div class="w-full max-w-m">
  <div class="flex justify-center mb-10">
    <%= render partial: 'home/challenge', collection: [@challenge], locals: { view_more: false } %>
  </div>

  <div class="w-2/3 mx-auto">
    <h2 class="text-2xl mb-0"><%= t('challenge.todays_entries.title') %></h2>
    <div class="bg-white shadow-md rounded my-6">
      <table class="text-left w-full border-collapse">
        <thead>
          <tr>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= t('challenge.todays_entries.user') %></th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= t('challenge.todays_entries.amount') %></th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= t('challenge.todays_entries.completed_date') %></th>
          </tr>
        </thead>
          <tbody>
          <%= render partial: 'todays_entries', collection: @challenge_todays_entries %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="your-entries" class="w-2/3 mx-auto">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl mb-0"><%= t('challenge.your_entries.title') %></h2>

      <% if @challenge.start_date <= Date.today && @challenge.end_date >= Date.today %>
        <%= link_to t('challenge.your_entries.add'), new_challenge_entry_path(challenge_id: @challenge), class: "inline-block bg-oddball hover:bg-oddball-lighter text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      <% end %>
    </div>
    <div class="bg-white shadow-md rounded my-6">
      <table class="text-left w-full border-collapse">
        <thead>
          <tr>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= t('challenge.your_entries.amount') %></th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= t('challenge.your_entries.completed_date') %></th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= t('challenge.your_entries.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'entry', collection: @challenge_entries %>
        </tbody>
        <tfoot>
          <tr>
            <td class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= t('challenge.your_entries.total') %></td>
            <td class="py-4 px-6 bg-grey-lightest text-sm text-grey-dark border-b border-grey-light"><%= @challenge_entries.map(&:amount).sum %></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <% if @challenge.start_date <= Date.today && @challenge.end_date >= Date.today %>
      <div class="flex justify-end items-center">
        <%= link_to t('challenge.your_entries.add'), new_challenge_entry_path(challenge_id: @challenge), class: "inline-block bg-oddball hover:bg-oddball-lighter text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
