<div class="w-full max-w-m">
  <div class="flex justify-center mb-10">
    <%= render partial: 'home/challenge', collection: [@challenge] %>
  </div>

  <div class="w-2/3 mx-auto">
    <h2 class="text-2xl mb-0">Today's Entries</h2>
    <div class="bg-white shadow-md rounded my-6">
      <table class="text-left w-full border-collapse">
        <thead>
          <tr>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">User</th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Amount</th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Completed Date</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'todays_entries', collection: @challenge_todays_entries %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="w-2/3 mx-auto">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl mb-0">Your Entries</h2>
      <%= link_to "Add Entry", new_challenge_entry_path(challenge_id: @challenge), class: "inline-block bg-oddball hover:bg-oddball-lighter text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
    </div>
    <div class="bg-white shadow-md rounded my-6">
      <table class="text-left w-full border-collapse">
        <thead>
          <tr>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Amount</th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Completed Date</th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'entry', collection: @challenge_entries %>
        </tbody>
      </table>
    </div>
    <div class="flex justify-end items-center">
      <%= link_to "Add Entry", new_challenge_entry_path(challenge_id: @challenge), class: "inline-block bg-oddball hover:bg-oddball-lighter text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
    </div>
  </div>
</div>
