<!DOCTYPE html>
<html>
  <head>
    <title>OddballFitnessChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body class="bg-gray-300 text-base text-grey-darkest font-normal relative">
    <main class="container mx-auto font-sans p-8">
      <% if user_signed_in? %>
        <%= render partial: "shared/header" %>
      <% end %>
      <div class="mx-auto max-w-m">
        <%= render partial: "shared/flash" %>
        <section class="content">
          <%= yield %>
        </section>
      </div>
    </main>
  </body>
</html>
