<!DOCTYPE html>
<html>
  <head>
    <title>OddballFitnessChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-300 text-base text-grey-darkest font-normal relative">
    <main class="container mx-auto font-sans p-8">
      <div class="mx-auto max-w-m">
        <section class="flash">
          <% unless notice.nil? %>
            <div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3" role="notice">
              <p><%= notice %></p>
            </div>
          <% end %>
          <% unless alert.nil? %>
            <div class="flex items-center bg-red-500 text-white text-sm font-bold px-4 py-3" role="alert">
              <p><%= alert %></p>
            </div>
          <% end %>
        </section>
        <section class="content">
          <%= yield %>
        </section>
      </div>
    </main>
  </body>
</html>
