<!DOCTYPE html>
<html>
  <head>
    <title>OddballFitnessChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body class="bg-gray-300 text-base text-grey-darkest font-normal relative">
    <% if !user_signed_in? %>
      <% @mainClass = 'container mx-auto font-sans p-8 flex h-screen' %>
      <% @divClass = 'max-w-xs m-auto w-full' %>
    <% else %>
      <% @mainClass = 'container mx-auto font-sans p-8' %>
      <% @divClass = 'max-w-m mx-auto' %>
    <% end %>
    <main class="<%= @mainClass %>">
      <% if user_signed_in? %>
        <%= render partial: "shared/header" %>
      <% end %>
      <div class="<%= @divClass %>">
        <%= render partial: "shared/flash" %>
        <section class="content">
          <%= yield %>
        </section>
      </div>
    </main>
  </body>
</html>
